/target/
.idea/
.vscode/
.settings
.project
.classpath

*.iml
.DS_Store
# The following files are generated/updated by vaadin-maven-plugin
node_modules/
src/main/frontend/generated/
vite.generated.ts
webpack.generated.js
.vaadin/
flow-build/
frontend/generated/
pnpm-lock.yaml
package-lock.json
# Compiled class file
*.class
# Log file
*.log
# BlueJ files
*.ctxt
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
# IntelliJ IDEA specific files
*.iws
# Target folder
target/
# IntelliJ IDEA
*.ipr
# Refactoring backup directories
.refactor-backup-*/
*.refactor-backup-*
